todo.txt
history.txt

**/*.pyc
*/test.py

**/.ipynb_checkpoints/

*/test_transformed.csv
*/train_transformed.csv
*/predicted.csv

amazon_machine_learning/aml_recipe.json
amazon_machine_learning/aml_schema.json

.vscode
neural_network.bak
